.ajax-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 2, 2, 2, .5 )
                50% 50%
                no-repeat;
}

.table thead div.checkbox {
    margin-bottom: 0px;
}
.table thead div.checkbox label {
    font-weight: bold;
}

.navbar {
    border-radius: 0px;
    margin: 0px;
}

.main-content {
    padding-top: 20px;
}

.intro-header {
    padding-top: 50px; 
    padding-bottom: 200px;
    text-align: center;
    color: #f8f8f8;
    background: url(intro-bg.jpg) no-repeat center center;
    background-size: cover;
}
.intro-header h1 {
    font-size: 8em;
}
.intro-header h3 {
    font-size: 3em;
}
