{% extends "peer/base.html" %}

{% block title %}Peer{% endblock %}

{% block landing %}
<div class="intro-header">
    <div class="container">
        <h1><span class="rwd-line">Peer</span><span class="rwd-line">Rev</span></h1>
        <h3>An Automated Academic Journal</h3>
        <p>Yup, that is right, all the reviewers are entities that are lacking in the flesh department.</p>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <h2>Really? No more mean reviewers?</h2>
            <p>That is correct, we have eliminated biased human reviewers with a perfectly unbiased algorithm that will properly review academic papers.</p>
        </div>
        <div class="col-lg-10">
            <h2>So, how does it work?</h2>
            <p>Fancy math, cool algorithms, and two drops of black magic.</p>
        </div>
        <div class="col-lg-10">
            <h2>Right. So, um, why?</h2>
            <p>Because we want to change the world, er, well, not really. I guess just because we have the technology!</p>
        </div>
        <div class="col-lg-10">
            <h2>Okay, I'm sold, where do I get started?</h2>
            <p>I'm glad you asked. <a href="{% url 'register' %}">Right here.</a></p>
        </div>
    </div>
</div>
{% endblock %}
