{% extends "peer/base.html" %}

{% block title %}Peer{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to the Automated Journal!</h1>

        This is an entirely automated journal. Yup, that is right, all the reviewers entities that are lacking in the flesh department.
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <h2>
            This is some content that I am adding to see how it looks.


        </div>
        <div class="col-lg-10">
            <h2>Why?</h2>
        </div>

        <div class="col-lg-10">
            <h2>How does it work?</h2>
        </div>

        <div class="col-lg-10">
            <h2>Impact Factor: 9000.1</h2>
        </div>
    </div>
</div>
{% endblock %}
