{% extends "peer/base.html" %}

{% block title %}Peer{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="title">{{ paper.title }}</div>
        <div class="author">{{ paper.author }}</div>
        <div class="abstract">{{ paper.abstract }}</div>
        {% if request.user == paper.author %}
            <div class="status">
            {% if paper.needs_revision %}
                <a href="{% url 'revision_submit' paper.pk %}">
                    {{ paper.get_status_display }}
                </a>
            {% else %}
                {{ paper.get_status_display }}
            {% endif %}
            </div>
            <p>
            {% if paper.is_reviewed %}
                <div class="list-group">
                    <a class="list-group-item collapse-data-btn" data-toggle="collapse" href="#reviews">
                        Click to see reviews<b class="caret"></b></a>
                    <dl id="reviews" class="dl-horizontal collapse">
                {% for review in paper.reviews.all %}
                      <dt>{{ review.get_decision_display }}</dt>
                      <dd>{{ review.comments }}</dd>
                {% endfor %}
                    </dl>
                </div>
            {% endif %}
        {% endif %}
        <div class="detail"><a href="{{ paper.get_current_url }}">PDF</a></div>
        <div class="cite">CITE</div>
        {% if request.user == paper.author %}
            <div class "revisions">
                <div>Revisions:</div>
                {% for revision in paper.revisions.all %}
                    <div><a href="{{ revision.pdf_file.url }}">Revision {{ forloop.counter0 }}</a></div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
