{% extends "peer/base.html" %}

{% block title %}Peer{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="title"><a href="{% url 'paper_detail' paper.id %}">{{ paper.title }}</a></div>
        <div class="author">{{ paper.author }}</div>
        <div class="abstract">{{ paper.abstract }}</div>
        {% if request.user == paper.author %}
            <div class="status">
            {% if paper.needs_revision %}
                <a href="{% url 'revision_submit' paper.pk %}">
                    {{ paper.get_status_display }}
                </a>
            {% else %}
                {{ paper.get_status_display }}
            {% endif %}
            </div>
            <p>
            {% if paper.is_reviewed %}
                {% for review in paper.reviews.all %}
                    <div class="decision">Decision: {{ review.get_decision_display }}</div>
                    <div class="comments">{{ review.comments }}</div>
                    <p>
                {% endfor %}
            {% endif %}
        {% endif %}
        <div class="detail"><a href="{{ paper.get_current_url }}">PDF</a></div>
        <div class="cite">CITE</div>
        {% if request.user == paper.author %}
            <div class "revisions">
                <div>Revisions:</div>
                {% for revision in paper.revisions.all %}
                    <div><a href="{{ revision.pdf_file.url }}">Revision {{ forloop.counter0 }}</a></div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
