{% extends "peer/base.html" %}

{% block title %}Peer{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="title">{{ paper.title }}</div>
        <div class="author">{{ paper.author }}</div>
        <div class="abstract">{{ paper.abstract }}</div>
        {% if request.user == paper.author %}
            <div class="status">
            {% if paper.needs_revision %}
                <a href="{% url 'revision_submit' paper.pk %}">
                    Click to Submit a Revision
                </a>
            {% else %}
                {{ paper.get_status_display }}
            {% endif %}
            </div>
            <p>
            <div class="list-group">
                {% if paper.is_reviewed %}
                    <a class="list-group-item collapse-data-btn" data-toggle="collapse" href="#reviews">
                        Click to see reviews<b class="caret"></b></a>
                    <dl id="reviews" class="dl-horizontal collapse">
                {% for review in paper.reviews.all %}
                      <dt>{{ review.get_decision_display }}</dt>
                      <dd>{{ review.comments }}</dd>
                {% endfor %}
                    </dl>
                {% endif %}
                <a class="list-group-item collapse-data-btn" data-toggle="collapse" href="#revisions">
                        Click to see revisions<b class="caret"></b></a>
                <div id="revisions" class="collapse">
                {% for revision in paper.revisions.all %}
                    <div><a href="{{ revision.pdf_file.url }}">Revision {{ forloop.counter0 }}</a></div>
                {% endfor %}
                </div>
            </div>    
        {% endif %}
        <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-lg btn-primary btn-block" href="{{ paper.get_current_url }}">Get PDF</a>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-lg btn-primary btn-block" href="">Cite</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
