{% extends "peer/base.html" %}

{% block title %}Peer{% endblock %}

{% block content %}
<div class="container">
    {% for paper in papers %}
    <div class="row">
        <div class="title"><a href="{% url 'paper_detail' paper.id %}">{{ paper.title }}</a></div>
        <div class="author">{{ paper.author }} | {% if paper.is_public %}Accepted: {{ paper.published }}{% else %}Submitted: {{ paper.submitted }}{% endif %}</div>
        <div class="abstract">{{ paper.abstract }}</div>
        {% if request.user == paper.author %}
        <div class="status">{{ paper.get_status_display }}</div>
        {% endif %}
        <div class="detail">{{ paper.url }}</div>
    </div>
    <p>
    {% endfor %}
</div>
{% endblock %}
